@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cartesian";
    src: url(../fonts/Cartesian-0W5Oo.otf);
}

@font-face {
    font-family: "Sterion";
    src: url(../fonts/Sterion.ttf);
}

@font-face {
    font-family: "AquireLight";
    src: url(../fonts/AquireLight.otf);
}

@font-face {            
    font-family: "AquireBold";
    src: url(../fonts/AquireBold.otf);
}

@font-face {
    font-family: "Zhabuki";
    src: url(../fonts/Zhabuki.otf);
}


@layer base{
    *{
        @apply scroll-smooth;
    }
}

.afacad{
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input:not([type='file']), select{
    @apply bg-black border-white/15 border-[1px] p-3 w-full outline-[#8465FF] mt-1.5;
}

.errorlist{
    @apply text-red-600 text-sm;
}


.myscrollbar::-webkit-scrollbar{
    width: 5px;
}
.noscrollbar::-webkit-scrollbar{
    display: none;
}
.myscrollbar::-webkit-scrollbar-thumb{
    background-color: #8465FF;
}

.vertical-text{
    text-orientation:upright;
    writing-mode: vertical-rl;
}


.events-card:hover{
    box-shadow: 1px 1px 15px 1.5px #FD6887;
}
@layer utilities{
    .container{
        @apply max-w-[1728px] px-4 mx-auto; 
    }

    
    .card-vertical-text{
        writing-mode:sideways-lr;
        text-orientation: sideways;
    }

    .writing-lr{
        writing-mode:sideways-lr;
    }

    .writing-normal{
        writing-mode: horizontal-tb;
    }
}

.myscroll::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.skeleton{
    position: relative;
    overflow: hidden;
}

@keyframes loaderr {
    0%{
        left: 100%;
    }50%{
        left: -100%;
    }100%{
        left: 0px;
    }
}

.skeleton::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(21, 21, 21, 0.05);
    z-index: 1;
    animation: loaderr 2s alternate infinite;
}


.myscroll::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 9999999px;
}


.event-description h1{
    @apply text-2xl font-semibold;
}


.event-description h2{
    @apply text-xl font-medium;
}


.event-description h2{
    @apply text-lg font-semibold;
}


.event-description ul, 
.event-description ol{
    @apply text-lg list-inside list-disc;
}
