{% load static %}
<div class="pb-8 w-full max-w-[90rem] mx-auto mt-20">
    <footer class="bg-[#8465FF] afacad rounded-xl p-4 lg:p-12 grid grid-cols-2 lg:grid-cols-4 gap-4">
        <div>
            <div class="w-44 shrink-0 mb-4 lg:hidden">
                <span class="leading-3 md:text-lg relative -bottom-2">An initiative by</span>
                <div class="relative w-36 md:w-full -left-1">
                    <img src="{% static 'media/bbd group.png' %}" class="h-full w-full object-fill" />
                </div>
            </div>
            <div>
                <p class="font-semibold text-xl lg:text-2xl mb-2">Pages</p>
                <ul class="lg:text-xl">
                    <li><a href="">Home</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Scheduler</a></li>
                    <li><a href="">Rule Book</a></li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <p class="font-semibold text-xl lg:text-2xl mb-2">Catalog</p>
                <ul class="lg:text-xl">
                    <li><a href="">Rulebook</a></li>
                    <li><a href="">Scheduler</a></li>
                    <li class="font-semibold text-xl lg:text-2xl mt-4">Helpline Number</li>
                    <li>Fire: 101</li>
                    <li>Police: 100</li>
                    <li>Ambulance: 102</li>
                    <li>Women Powerline: 1090</li>
                </ul>
            </div>
        </div>

        <div>
            <div class="w-40 shrink-0 hidden lg:block">
                <span class="leading-3 md:text-lg relative -bottom-2">An initiative by</span>
                <div class="relative w-36 md:w-full -left-1">
                    <img src="{% static 'media/bbd group.png' %}" class="h-full w-full object-fill" />
                </div>
            </div>
            <div>
                <p class="font-semibold text-xl lg:text-2xl mt-4">Contacts</p>
                <ul class="lg:text-xl">
                    <li>Phone: +91 745 892 0409</li>
                    <li>Email: <a href="mailto:utkarsh.dbm@bbdu.ac.in">utkarsh.dbm@bbdu.ac.in</a></li>
                    <li>Email: <a href="mailto:fest@bbd-utkarsh.org">fest@bbd-utkarsh.org</a></li>
                </ul>
            </div>

        </div>

        <div class="lg:text-right">
            <div>
                <p class="font-semibold text-xl lg:text-2xl">Address</p>
                <p class="lg:text-xl">Ayodhya Road, Lucknow,<br>Uttar Pradesh 226028, India</p>
            </div>
            <div class="mt-4">
                <p class="font-semibold text-xl lg:text-2xl">Campus Map</p>
                <div class="rounded-xl overflow-hidden w-40 lg:ms-auto">
                    <img src="{% static 'media/mini map.jpg' %}" class="h-full w-full object-fill" />
                </div>
            </div>
        </div>

    </footer>
</div>