<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utkarsh'25</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Arial'
    }

    body {
        padding: 20px;
    }

    ul {
        list-style-type: none;
    }

    .mt2 {
        margin-top: 10px;
    }
</style>

<body>
    <img src="https://www.bbd-utkarsh.org/static/media/logo1.jpg" alt=''
        style="width: 100%; aspect-ratio: 16/9; max-height:500px;" />
    <h3>Hello {{name}} </h3>

    <div class="mt2">
        <b>Great news! Your pre-registration for Utkarsh 2025 has been successfully recorded. 🎉 Get ready to experience
            the future of tech, innovation, and creativity like never before!</b>
        <h4 class="mt2">
            Your Login details:
        </h4>
        <ul class="mt2">
            <li>Utkarsh id: {{ukid}}</li>
            <li>Password: {{ukpass}}</li>
        </ul>

        <p class="mt2">
            Keep an eye on your inbox for more updates as we gear up for a journey beyond imagination. The future isn't
            coming—it's here, and you're at the forefront. 🚀
        </p>
        <p class="mt2">
            Let's build the future together at Utkarsh 2025!
        <p>
        <p class="mt2">
            For any queries, reach out to us at contact@bbd-utkarsh.org
        </p>
        <br>
        <br>
        See you there,<br>
        Team Utkarsh
    </div>
</body>

</html>