{% load static %}
<div class="mt-8">
    <div class="grid lg:grid-cols-2">
        <h2 class="font-Sterion text-right w-4/12 lg:w-6/12 text-2xl md:text-4xl xl:text-5xl">
            Throw <br>back
        </h2>
        <div class="pt-4 lg:pt-0 grid">
            <p class="afacad text-xl lg:text-2xl xl:text-3xl">
                Step back in time and immerse yourself in the vibrant energy of past Utkarsh celebrations. These
                captivating photos
                capture the essence of unforgettable moments, from electrifying performances to spirited
                competitions and cherished
                friendships. <span class="text-[#8465FF] font-medium">
                    Let these images inspire you as we prepare for an even more spectacular Utkarsh this year!
                </span>
            </p>
        </div>
    </div>

    <div class="overflow-x-scroll select-none h-screen mt-8 myscroll pb-2">
        <div class="grid grid-cols-9 grid-rows-4 gap-4 *:bg-white h-full min-w-[400%] lg:min-w-[130%]">
            <div class=" col-span-2 row-span-2">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" col-span-3 row-span-2 col-start-3">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" col-span-3 row-span-2 col-start-1 row-start-3">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" col-span-2 row-span-2 col-start-4 row-start-3">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" col-span-2 row-span-4 col-start-6 row-start-1">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" col-span-2 row-span-2 col-start-8 row-start-1">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" row-span-2 col-start-8 row-start-3 min-w-40">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
            <div class=" row-span-2 col-start-9 row-start-3 min-w-40">
                <img class="h-full w-full object-center object-cover"
                    src="https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
        </div>
    </div>
</div>